{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}


<main id="main-new-genre">


    <h1>Create new Genre</h1>

    {{ include('genre/_form.html.twig') }}

    <a href="{{ path('app_genre_index') }}">Back to list</a>

</main>




{% endblock %}
