{% extends 'base.html.twig' %}

{% block title %}New Authors{% endblock %}

{% block body %}

<main id="main-new-author">

    <h1>Create new Author</h1>

    {{ include('authors/_form.html.twig') }}

    <a href="{{ path('app_authors_index') }}">Back to list</a>

</main>



{% endblock %}
